.nav {
  grid-area: n;
  background-color: burlywood;
  padding: 20px;
}

.item {
  padding-bottom: 20px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.activeLink {
  color: rgb(12, 10, 0);
  font-weight: bold;
}