.container {
	padding: 10px;
	display: flex;
	font-family: Arial, sans-serif;
	flex-direction: column;
	
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid goldenrod;

}

.header__userInfo {
	display: flex;
	flex-direction: column;
	/* border: 1px solid blue; */
	padding: 10px;
}

.header__userInfo_userName {
	font-size: 24pt;
	font-weight: bold;
}

.header__userInfo_job {
	padding-left: 20px;
	padding-top: 5px;
}

.avatar {
	width: 80px;
}

.contacts {
	
}

.contacts__title {
	font-weight: bold;
	padding-top: 10pt;
	padding-bottom: 5px;
}
.contacts__body {
	padding-left: 20px;
}

.profileData {
	border: 1px solid blue;
}