.paginationContainer {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.pagination_item{
	border: 1px solid black;
	padding: 5px;
	text-decoration: none;
	list-style: none;
	display: inline-block;
  margin-left: 5px;
  width: 22px;
  text-align: center;
}

.pagination_item_link {
  text-decoration: none;
}

.selectedPage {
  font-weight: bold;
  font-size: 120%;
  background-color: white;
}