.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: "user mess";
}

.dialogsItems {
    grid-area: user;
}

.dialogsItems .dialog{
    padding: 10px;
}

.dialogsItems .active {
    color: darkred;
}

.messages {
    grid-area: mess;
}

.messages .message {
    padding: 10px;
}